/* Mobile first design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 103%;
}

#screen {
  min-height: 10rem;
  width: 90%;
  background-color: aqua;
  margin: 5px auto 0;
  border: 2px solid #000;
  border-radius: 1rem;
  text-align: center;
  padding: 4rem;
}

#buttons {
  width: 90%;
  margin: 1rem auto;
}

.btn,
.btnComp {
  width: 5rem;
  padding: 10px;
  margin: 5px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: #cfdac8;
}

.btnComp {
  background-color: #ffb26b;
}
